<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="form-list-panel">
    <h2><b>Cadastro de Patrimônio</b></h2>
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <span>Cadastro de Patrimônio</span>
    </nav>

    <form class="form-grid" #form="ngForm" (ngSubmit)="cadastrar(form)">
      <div class="campo">
        <label>Tombamento<span>*</span></label>
        <input
          type="text"
          name="tombamento"
          placeholder="Digite o número do patrimônio"
          minlength="3"
          required
          [(ngModel)]="patrimonio.tombamento"
          #tombamento="ngModel"
        />

        @if (tombamento.touched) {
          @if (tombamento.errors?.['required']) {
            <small class="erro">Tombamento é obrigatório</small>
          } @else if (tombamento.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>Data de aquisição</label>
        <input
          type="date"
          name="data"
          placeholder="Digite o nome do produto"
          required
          [(ngModel)]="patrimonio.dtAquisicao"
        />
      </div>

      <div class="campo grande">
        <label>Especificação<span>*</span></label>
        <textarea
          rows="5"
          name="especificacao"
          minlength="3"
          required
          [(ngModel)]="patrimonio.especificacao"
          #especificacao="ngModel"
        ></textarea>

        @if (especificacao.touched) {
          @if (especificacao.errors?.['required']) {
            <small class="erro">Especificação é obrigatório</small>
          } @else if (especificacao.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn" [disabled]="form.invalid">Salvar</button>
        <button type="reset" class="btn">Limpar</button>
        <a routerLink="/home" class="btn-voltar"><< Voltar</a>
      </div>
    </form>
  </div>
</div>
