<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="form-list-panel">
    <h2><b>Edição de Produtos</b></h2>
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <a routerLink="/produto/listagem">Listagem de Produtos</a>
      <span class="breadcrumb-span">/</span>
      <span>Editando de {{ produto.nome }}</span>
    </nav>

    <form class="form-grid" #form="ngForm" (ngSubmit)="editar()">
      <div class="campo grande">
        <label>Nome do produto <span>*</span></label>
        <input
          type="text"
          name="nome"
          placeholder="Digite o nome do produto"
          minlength="3"
          required
          [(ngModel)]="produto.nome"
          #nome="ngModel"
        />

        @if (nome.touched) {
          @if (nome.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (nome.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>Categoria <span>*</span></label>
        <select name="origem" required [(ngModel)]="produto.categoria">
          <option value="">Selecione</option>
          <option value="Leguminosas">Leguminosas</option>
          <option value="Verduras">Verduras</option>
          <option value="Frutas">Frutas</option>
          <option value="Não perecíveis">Não perecíveis</option>
          <option value="Bebidas">Bebidas</option>
          <option value="Produtos de limpeza">Produtos de limpeza</option>
          <option value="Produtos de higiene pessoal">Produtos de higiene pessoal</option>
        </select>
      </div>

      <div class="campo">
        <label>Unidade de medida <span>*</span></label>
        <select name="unidadeMedida" required [(ngModel)]="produto.unidadeMedida">
          <option value="Quilograma">Quilograma (Kg)</option>
          <option value="Grama">Gramas (g)</option>
          <option value="Litro">Litros (L)</option>
          <option value="Mililitro">Mililitros (ml)</option>
          <option value="Unidade">Unidade (Un)</option>
          <option value="Caixa">Caixa (Cx)</option>
        </select>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn">Alterar</button>
        <a routerLink="/produto/listagem" class="btn-voltar"><< Voltar</a>
      </div>
    </form>
  </div>
</div>
