.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.layout .btn-item {
  background-color: var(--cor-secundaria);
  width: 240px;
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.layout .btn-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-item img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-top: 15px;
}

.btn-item span {
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  margin-top: 25px;
  margin-left: 20px;
}

.main-layout {
  display: flex;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  padding: 20px;
}
