<div class="main-layout">
  <div class="page-content">
    <section>
      <h2>Acesso rápido</h2>
      <div class="layout">
        <div class="btn-item" routerLink="/funcionario/cadastro">
          <img src="/assets/funcionario.png" />
          <span>Funcionários</span>
        </div>

        <div class="btn-item" routerLink="/acolhido/cadastro">
          <img src="/assets/acolhidos.png" />
          <span>Acolhidos</span>
        </div>

        <div class="btn-item" routerLink="/medicamento/cadastro">
          <img src="/assets/medicamento.png" />
          <span>Medicamentos</span>
        </div>

        <div class="btn-item" routerLink="/produto/cadastro">
          <img src="/assets/produto.png" />
          <span>Produtos</span>
        </div>

        <div class="btn-item" routerLink="/agenda/listagem">
          <img src="/assets/calendario.png" />
          <span>Agenda</span>
        </div>
      </div>
    </section>

    <!--
        <section>
            <h2>Estatísticas Gerais</h2>
            <div class="layout">
                <div class="banner-content">
                    <div class="banner-head">
                        <img src="/assets/estatistica_icone.png">
                        <p>Acolhidos cadastrados</p>
                    </div>
                    <hr>
                    <div class="banner-info">
                        <p class="numero">6</p>
                        <p class="descricao">Acolhidos</p>
                    </div>
                </div>

                <div class="banner-content">
                    <div class="banner-head">
                        <img src="/assets/estatistica_icone.png">
                        <p>Funcionário ativos</p>
                    </div>
                    <hr>
                    <div class="banner-info">
                        <p class="numero">10</p>
                        <p class="descricao">Funcionários</p>
                    </div>
                </div>

                <div class="banner-content">
                    <div class="banner-head">
                        <img src="/assets/estatistica_icone.png">
                        <p>Atividades próximas</p>
                    </div>
                    <hr>
                    <div class="banner-info">
                        <p class="numero">4</p>
                        <p class="descricao">Atividades</p>
                    </div>
                </div>
            </div>
        </section>
    -->
  </div>
</div>
