<div class="main-layout">
  <div class="page-content">
    <section>
      <h2>Acesso rápido</h2>
      <div class="layout">
        <div class="btn-item" routerLink="/funcionario/cadastro">
          <img src="/assets/funcionario.png" />
          <span>Funcionários</span>
        </div>

        <div class="btn-item" routerLink="/acolhido/cadastro">
          <img src="/assets/acolhidos.png" />
          <span>Acolhidos</span>
        </div>

        <div class="btn-item" routerLink="/medicamento/cadastro">
          <img src="/assets/medicamento.png" />
          <span>Medicamentos</span>
        </div>

        <div class="btn-item" routerLink="/produto/cadastro">
          <img src="/assets/produto.png" />
          <span>Produtos</span>
        </div>

        <div class="btn-item" routerLink="/patrimonio/cadastro">
          <img src="/assets/patrimonio.png" />
          <span>Patrimônio</span>
        </div>

        <div class="btn-item" routerLink="/agenda/listagem">
          <img src="/assets/calendario.png" />
          <span>Agenda</span>
        </div>
      </div>
    </section>
  </div>
</div>
