<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="form-list-panel">
    <h2><b>Edição de Funcionário</b></h2>
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <a routerLink="/funcionario/listagem">Listagem de Funcionários</a>
      <span class="breadcrumb-span">/</span>
      <span>Editando {{ funcionario.nome }}</span>
    </nav>

    <form class="form-grid" #form="ngForm" (ngSubmit)="editar()">
      <div class="form-buttons">
        <a routerLink="/funcionario/listagem" class="btn">Listar</a>
      </div>

      <div class="campo grande">
        <label>Nome completo <span>*</span></label>
        <input
          type="text"
          name="nome"
          placeholder="Digite o nome completo"
          minlength="3"
          required
          [(ngModel)]="funcionario.nome"
          #nome="ngModel"
        />

        @if (nome.touched) {
          @if (nome.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (nome.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>Telefone <span>*</span></label>
        <input
          type="tel"
          name="telefone"
          placeholder="(xx) xxxxx-xxxx"
          mask="(00) 00000-0000"
          [(ngModel)]="funcionario.telefone"
          #telefone="ngModel"
        />
        @if (telefone.invalid && telefone.touched) {
          <small class="erro">Telefone é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Data de nascimento <span>*</span></label>
        <input
          type="date"
          name="dataNascimento"
          required
          [(ngModel)]="funcionario.dataNascimento"
          #dataNascimento="ngModel"
        />

        @if (dataNascimento.invalid && dataNascimento.touched) {
          <small class="erro">Data de nascimento é obrigatória</small>
        }
      </div>

      <div class="campo grande">
        <label>E-mail <span>*</span></label>
        <input
          type="email"
          name="email"
          placeholder="Digite o e-mail"
          minlength="3"
          required
          [(ngModel)]="funcionario.email"
          #email="ngModel"
        />

        @if (email.touched) {
          @if (email.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (email.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>CPF <span>*</span></label>
        <input
          type="text"
          name="cpf"
          placeholder="Digite o CPF"
          mask="000.000.000-00"
          [(ngModel)]="funcionario.cpf"
          #cpf="ngModel"
        />
        @if (cpf.invalid && cpf.touched) {
          <small class="erro">CPF é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>RG <span>*</span></label>
        <input
          type="text"
          name="rg"
          placeholder="Digite o RG"
          required
          [(ngModel)]="funcionario.rg"
          #rg="ngModel"
        />

        @if (rg.invalid && rg.touched) {
          <small class="erro">RG é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Órgão Emissor <span>*</span></label>
        <input
          type="text"
          name="orgaoEmissor"
          required
          [(ngModel)]="funcionario.orgaoEmissor"
          #orgaoEmissor="ngModel"
        />

        @if (orgaoEmissor.invalid && orgaoEmissor.touched) {
          <small class="erro">Órgão Emissor é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>UF <span>*</span></label>
        <input
          type="text"
          name="uf"
          maxlength="2"
          required
          [(ngModel)]="funcionario.uf"
          #uf="ngModel"
        />

        @if (uf.invalid && uf.touched) {
          <small class="erro">UF é obrigatória</small>
        }
      </div>

      <div class="campo">
        <label>Cargo <span>*</span></label>
        <select name="cargo" required [(ngModel)]="funcionario.cargo" #cargo="ngModel">
          <option value="">Selecione</option>
          <option value="Coordenador">Coordenador</option>
          <option value="Psicólogo(a)">Psicólogo(a)</option>
          <option value="Auxiliar Administrativo">Auxiliar Administrativo</option>
          <option value="Enfermeiro(a)">Enfermeiro(a)</option>
          <option value="Cozinheiro(a)">Cozinheiro(a)</option>
          <option value="Auxiliar de cozinha">Auxiliar de cozinha</option>
          <option value="Auxiliar de serviços gerais">Auxiliar de serviços gerais</option>
        </select>

        @if (cargo.invalid && cargo.touched) {
          <small class="erro">Cargo é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Escolaridade <span>*</span></label>
        <select
          name="escolaridade"
          required
          [(ngModel)]="funcionario.escolaridade"
          #escolaridade="ngModel"
        >
          <option value="">Selecione</option>
          <option value="Fundamental Incompleto">Fundamental - Incompleto</option>
          <option value="Fundamental Completo">Fundamental - Completo</option>
          <option value="Médio Incompleto">Médio - Incompleto</option>
          <option value="Medio Completo">Médio - Completo</option>
          <option value="Superior Incompleto">Superior - Incompleto</option>
          <option value="Superior Completo">Superior - Completo</option>
          <option value="Pós-Graduação Incompleto">Pós-graduação - Incompleto</option>
          <option value="Pós-Graduação Completo">Pós-graduação - Completo</option>
          <option value="Mestrado Incompleto">Mestrado - Incompleto</option>
          <option value="Mestrado Completo">Mestrado - Completo</option>
          <option value="Doutorado Incompleto">Doutorado - Incompleto</option>
          <option value="Doutorado Completo">Doutorado - Completo</option>
        </select>

        @if (escolaridade.invalid && escolaridade.touched) {
          <small class="erro">Escolaridade é obrigatória</small>
        }
      </div>

      <div class="campo">
        <label>Carga Horária <span>*</span></label>
        <input
          type="text"
          name="cargaHoraria"
          placeholder="Apenas números"
          required
          [(ngModel)]="funcionario.cargaHoraria"
          #cargaHoraria="ngModel"
        />

        @if (cargaHoraria.invalid && cargaHoraria.touched) {
          <small class="erro">Carga Horária é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Sexo <span>*</span></label>
        <select name="sexo" required [(ngModel)]="funcionario.sexo" #sexo="ngModel">
          <option value="">Selecione</option>
          <option value="Feminino">Feminino</option>
          <option value="Masculino">Masculino</option>
        </select>

        @if (sexo.invalid && sexo.touched) {
          <small class="erro">Sexo é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Data de admissão <span>*</span></label>
        <input
          type="date"
          name="dataAdmissao"
          required
          [(ngModel)]="funcionario.dataAdmissao"
          #dataAdmissao="ngModel"
        />

        @if (dataAdmissao.invalid && dataAdmissao.touched) {
          <small class="erro">Data de admissão é obrigatória</small>
        }
      </div>

      <div class="campo">
        <label>Data de saída</label>
        <input type="date" name="dataSaida" [(ngModel)]="funcionario.dataSaida" />
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn">Alterar</button>
        <a routerLink="/funcionario/listagem" class="btn-voltar"><< Voltar</a>
      </div>
    </form>
  </div>
</div>
