<div class="alertas">
  <header>
    <img src="/assets/alerta.png" alt="Alerta" />
    <h2>Alertas</h2>
  </header>

  <div class="side-alert">
    @for (a of alertasPaginados; track $index) {
      <div class="alert-card">
        <h4>{{ a.tipo }}</h4>
        <p>{{ a.mensagem }}</p>
      </div>
    }

    @if (alerts.length === 0) {
      <p class="sem-alerta">Nenhum alerta encontrado.</p>
    }
  </div>

  <div class="paginacao">
    <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">←</button>

    <span>{{ paginaAtual }} / {{ totalPaginas || 1 }}</span>

    <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">→</button>
  </div>
</div>
