<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="form-list-panel">
    <h2><b>Edição de Acolhido</b></h2>
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <a routerLink="/acolhido/listagem">Listagem de Acolhidos</a>
      <span class="breadcrumb-span">/</span>
      <span>Editando {{ acolhido.nome }}</span>
    </nav>

    <form class="form-grid" #form="ngForm" (ngSubmit)="editar()">
      <div class="campo grande">
        <label>Nome completo <span>*</span></label>
        <input
          type="text"
          name="nome"
          placeholder="Digite o nome completo"
          minlength="3"
          required
          [(ngModel)]="acolhido.nome"
          #nome="ngModel"
        />

        @if (nome.touched) {
          @if (nome.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (nome.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>CPF <span>*</span></label>
        <input
          type="text"
          name="cpf"
          mask="000.000.000-00"
          placeholder="Digite o CPF"
          [(ngModel)]="acolhido.cpf"
          #cpf="ngModel"
        />

        @if (cpf.invalid && cpf.touched) {
          <small class="erro">CPF é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Data de nascimento <span>*</span></label>
        <input
          type="date"
          name="dataNascimento"
          required
          [(ngModel)]="acolhido.dataNascimento"
          #dataNascimento="ngModel"
        />

        @if (dataNascimento.invalid && dataNascimento.touched) {
          <small class="erro">Data de nascimento é obrigatório</small>
        }
      </div>

      <div class="campo grande">
        <label>Escola <span>*</span></label>
        <input
          type="text"
          name="escola"
          placeholder="Digite a escola"
          required
          minlength="3"
          [(ngModel)]="acolhido.escola"
          #escola="ngModel"
        />

        @if (escola.touched) {
          @if (escola.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (escola.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo grande">
        <label>Local Familiar</label>
        <input
          type="text"
          name="localFamiliar"
          placeholder="Digite o local familiar"
          [(ngModel)]="acolhido.localFamiliar"
          minlength="3"
          #localFam="ngModel"
        />
        @if (localFam.errors?.['minlength']) {
          <small class="erro">Mínimo de 3 caracteres</small>
        }
      </div>

      <div class="campo">
        <label>Número do Processo</label>
        <input
          type="text"
          name="numeroProcesso"
          [(ngModel)]="acolhido.numeroProcesso"
          minlength="3"
          #numProc="ngModel"
        />
        @if (numProc.errors?.['minlength']) {
          <small class="erro">Mínimo de 3 caracteres</small>
        }
      </div>

      <div class="campo">
        <label>Vara</label>
        <input type="text" name="vara" [(ngModel)]="acolhido.vara" minlength="3" #vara="ngModel" />
        @if (vara.errors?.['minlength']) {
          <small class="erro">Mínimo de 3 caracteres</small>
        }
      </div>

      <div class="campo">
        <label>Data de entrada <span>*</span></label>
        <input type="date" name="dataEntrada" required [(ngModel)]="acolhido.dataEntrada" />
      </div>

      <div class="campo">
        <label>Cor da pele <span>*</span></label>
        <select name="corPele" required [(ngModel)]="acolhido.corPele" #corPele="ngModel">
          <option value="">Selecione</option>
          <option value="Branca">Branca</option>
          <option value="Parda">Parda</option>
          <option value="Preta">Preta</option>
          <option value="Amarela">Amarela</option>
          <option value="Indígena">Indígena</option>
        </select>
      </div>

      <div class="campo">
        <label>Data de saída</label>
        <input type="date" name="dataSaida" [(ngModel)]="acolhido.dataSaida" />
      </div>

      <div class="campo grande">
        <label>Deficiência</label>
        <input
          type="text"
          name="deficiencia"
          placeholder="Digite se houver"
          [(ngModel)]="acolhido.deficiencia"
          #deficiencia="ngModel"
        />
        @if (deficiencia.errors?.['minlength']) {
          <small class="erro">Mínimo de 3 caracteres</small>
        }
      </div>

      <div class="campo">
        <label>PPCAAM</label>
        <input
          type="text"
          name="ppcaam"
          minlength="3"
          [(ngModel)]="acolhido.ppcaam"
          #ppcaam="ngModel"
        />
        @if (ppcaam.errors?.['minlength']) {
          <small class="erro">Mínimo de 3 caracteres</small>
        }
      </div>

      <div class="campo">
        <label>Tamanho Camiseta <span>*</span></label>
        <select
          name="tamanhoCamiseta"
          required
          [(ngModel)]="acolhido.tamanhoCamiseta"
          #tamanho="ngModel"
        >
          <option value="">Selecione</option>
          <option value="PP">PP</option>
          <option value="P">P</option>
          <option value="M">M</option>
          <option value="G">G</option>
          <option value="GG">GG</option>
          <option value="XG">XG</option>
        </select>

        @if (tamanho.invalid && tamanho.touched) {
          <small class="erro">Tamanho é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Tamanho Bermuda/Calça <span>*</span></label>
        <input
          type="number"
          name="tamanhoBermudaCalca"
          min="10"
          max="60"
          required
          [(ngModel)]="acolhido.tamanhoBermudaCalca"
          #tamanho="ngModel"
        />

        @if (tamanho.invalid && tamanho.touched) {
          <small class="erro">Tamanho é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Tamanho Calçado <span>*</span></label>
        <input
          type="number"
          name="tamanhoCalcado"
          min="25"
          max="45"
          required
          [(ngModel)]="acolhido.tamanhoCalcado"
          #tamanho="ngModel"
        />

        @if (tamanho.invalid && tamanho.touched) {
          <small class="erro">Tamanho é obrigatório</small>
        }
      </div>

      <div class="campo">
        <label>Tamanho Roupa Íntima <span>*</span></label>
        <select
          name="tamanhoRoupaIntima"
          required
          [(ngModel)]="acolhido.tamanhoRoupaIntima"
          #tamanho="ngModel"
        >
          <option value="">Selecione</option>
          <option value="PP">PP</option>
          <option value="P">P</option>
          <option value="M">M</option>
          <option value="G">G</option>
          <option value="GG">GG</option>
          <option value="XG">XG</option>
        </select>

        @if (tamanho.invalid && tamanho.touched) {
          <small class="erro">Tamanho é obrigatório</small>
        }
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn" [disabled]="form.invalid">Alterar</button>
        <a routerLink="/acolhido/listagem" class="btn-voltar"><< Voltar</a>
      </div>
    </form>
  </div>
</div>
