<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>

  <div class="form-list-panel">
    <h2><b>Listagem de Medicamentos</b></h2>
    <!-- BREADCRUMB -->
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <span>Listagem de Medicamentos</span>
    </nav>

    <!-- FILTROS -->
    <div class="top-actions">
      <div class="filtros-linha">
        <input
          type="text"
          placeholder="Buscar por nome..."
          [(ngModel)]="filtroNome"
          (input)="filtrar()"
        />
        <button (click)="filtroNome = ''; filtrar()">Limpar Filtro</button>
      </div>

      <a routerLink="/medicamento/cadastro" class="btn">+ Novo Medicamento</a>
    </div>

    <!-- TABELA DE LISTAGEM -->
    <div class="list-panel">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- REGISTROS DE MEDICAMENTOS FILTRADOS -->
          @for (m of medicamentosFiltrados(); track m.id) {
            <tr>
              <td (click)="abrirDetalhes(m)" class="nome-click">
                {{ m.nome }}
              </td>

              <td>
                <div class="buttons">
                  <a [routerLink]="['/medicamento/estoque', m.id]" class="btnEstoque">Entrada</a>
                  <a [routerLink]="['/medicamento/edicao', m.id]" class="btn-editar">Editar</a>
                  <button (click)="excluir(m.id!)" class="btn">Excluir</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <!-- CARD -->
      @if (medicamentoSelecionado()) {
        <div class="card-overlay">
          <div class="card-medicamento">
            <h2>{{ medicamentoSelecionado()?.nome }}</h2>

            <p>
              <b>Unidade de medida:</b>
              {{ medicamentoSelecionado()!.unidadeMedida }}
            </p>
            <p><b>Categoria:</b> {{ medicamentoSelecionado()!.categoria }}</p>

            <button (click)="fecharDetalhes()" class="btn">Fechar</button>
          </div>
        </div>
      }
    </div>
    <!-- BOTÕES INFERIORES -->
    <div class="btnExterno">
      <a routerLink="/medicamento/cadastro" class="btn">Voltar</a>
    </div>
  </div>
</div>
