<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>

  <div class="form-list-panel">
    <h2><b>Listagem de Medicamentos</b></h2>
    <!-- BREADCRUMB -->
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <span>Listagem de Medicamentos</span>
    </nav>

    <!-- FILTROS -->
    <div class="top-actions">
      <div class="filtros-linha">
        <input
          type="text"
          placeholder="Buscar por nome..."
          [(ngModel)]="filtroNome"
          (input)="filtrar()"
        />
        <button (click)="filtroNome = ''; filtrar()">Limpar Filtro</button>
      </div>

      @if (temPermissao('medicamento:cadastrar')) {
        <a routerLink="/medicamento/cadastro" class="btn">+ Novo Medicamento</a>
      }
    </div>

    <!-- TABELA DE LISTAGEM -->
    <div class="list-panel">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- REGISTROS DE MEDICAMENTOS FILTRADOS -->
          @for (m of medicamentosPaginados(); track m.id) {
            <tr>
              <td (click)="abrirDetalhes(m)" class="nome-click">
                {{ m.nome }}
              </td>
              <td>
                {{ quantidades()[m.id!] }}
              </td>
              <td>
                <div class="buttons">
                  @if (temPermissao('medicamento:entrada')) {
                    <a [routerLink]="['/medicamento/estoque', m.id]" class="btnEstoque">
                      Entrada
                    </a>
                  }
                  @if (temPermissao('medicamento:editar')) {
                    <a [routerLink]="['/medicamento/edicao', m.id]" class="btn-editar"> Editar </a>
                  }
                  @if (temPermissao('medicamento:excluir')) {
                    <button (click)="excluir(m.id!)" class="btn-excluir">Excluir</button>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div class="paginacao">
        <!-- ANTERIOR -->
        <button class="pagina-btn" [disabled]="paginaAtual === 1" (click)="paginaAnterior()">
          ‹ Anterior
        </button>

        <!-- NÚMEROS -->
        @for (pagina of paginasVisiveis; track $index) {
          @if (pagina === '...') {
            <span class="reticencias"> ... </span>
          } @else {
            <button
              class="pagina-btn"
              [class.ativa]="paginaAtual === pagina"
              (click)="irParaPagina(pagina)"
            >
              {{ pagina }}
            </button>
          }
        }

        <!-- PRÓXIMA -->
        <button
          class="pagina-btn"
          [disabled]="paginaAtual === totalPaginas"
          (click)="proximaPagina()"
        >
          Próxima ›
        </button>
      </div>

      <!-- CARD -->
      @if (medicamentoSelecionado()) {
        <div class="card-overlay">
          <div class="card-medicamento">
            <h2>{{ medicamentoSelecionado()?.nome }}</h2>

            <p>
              <b>Unidade de medida:</b>
              {{ medicamentoSelecionado()!.unidadeMedida }}
            </p>
            <p><b>Categoria:</b> {{ medicamentoSelecionado()!.categoria }}</p>

            <button (click)="fecharDetalhes()" class="btn">Fechar</button>
          </div>
        </div>
      }
    </div>
    <!-- BOTÕES INFERIORES -->
    <div class="btnExterno">
      <a routerLink="/medicamento/cadastro" class="btn">Voltar</a>
    </div>
  </div>
</div>
