<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="form-list-panel">
    <h2><b>Cadastro de Medicamento</b></h2>
    <nav class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="breadcrumb-span">/</span>
      <span>Cadastro de Medicamentos</span>
    </nav>

    <form class="form-grid" #form="ngForm" (ngSubmit)="cadastrar(form)">
      <div class="form-buttons">
        <a routerLink="/medicamento/listagem" class="btn">Listar</a>
      </div>

      <div class="campo grande">
        <label>Nome do medicamento <span>*</span></label>
        <input
          type="text"
          name="nome"
          placeholder="Digite o nome do medicamento"
          minlength="3"
          required
          [(ngModel)]="medicamento.nome"
          #nome="ngModel"
        />

        @if (nome.touched) {
          @if (nome.errors?.['required']) {
            <small class="erro">Nome é obrigatório</small>
          } @else if (nome.errors?.['minlength']) {
            <small class="erro">Mínimo de 3 caracteres</small>
          }
        }
      </div>

      <div class="campo">
        <label>Categoria <span>*</span></label>
        <select name="origem" required [(ngModel)]="medicamento.categoria" #categoria="ngModel">
          <option value="">Selecione</option>
          <option value="Analgésico">Analgésico</option>
          <option value="Anti-inflamatório">Anti-inflamatório</option>
          <option value="Antibiótico">Antibiótico</option>
          <option value="Antialérgico">Antialérgico</option>
          <option value="Vitamina/Suplemento">Vitamina/Suplemento</option>
          <option value="Antidepressivo/Ansiolítico">Antidepressivo/Ansiolítico</option>
          <option value="Outro">Outro</option>
        </select>

        @if (categoria.invalid && categoria.touched) {
          <small class="erro">Categoria é obrigatória</small>
        }
      </div>

      <div class="campo">
        <label>Unidade de medida <span>*</span></label>
        <select name="origem" required [(ngModel)]="medicamento.unidadeMedida" #unidade="ngModel">
          <option value="">Selecione</option>
          <option value="Comprimido">Comprimido</option>
          <option value="Cápsula">Cápsula</option>
          <option value="Ampola">Ampola</option>
          <option value="Frasco">Frasco</option>
          <option value="Sachê">Sachê</option>
          <option value="Pomada/Creme">Pomada/Creme</option>
          <option value="Ml">Ml</option>
          <option value="Mg">Mg</option>
        </select>

        @if (unidade.invalid && unidade.touched) {
          <small class="erro">Unidade de medida é obrigatória</small>
        }
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn" [disabled]="form.invalid">Salvar</button>
        <button type="reset" class="btn">Limpar</button>
        <a routerLink="/home" class="btn-voltar"><< Voltar</a>
      </div>
    </form>
  </div>
</div>
